<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongxin.cims.modules.ac.dao.PlanMapper" >
  <resultMap id="BaseResultMap" type="com.zhongxin.cims.modules.ac.entity.Plan" >
    <id column="plan_id" property="planId" jdbcType="BIGINT" />
    <result column="plan_name" property="planName" jdbcType="VARCHAR" />
    <result column="plan_type" property="planType" jdbcType="VARCHAR" />
    <result column="major_id" property="majorId" jdbcType="VARCHAR" />
    <result column="plan_hours" property="planHours" jdbcType="VARCHAR" />
    <result column="charge_type" property="chargeType" jdbcType="VARCHAR" />
    <result column="charge" property="charge" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="audit_sts" property="auditSts" jdbcType="CHAR" />
    <result column="audit_date" property="auditDate" jdbcType="TIMESTAMP" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="local_id" property="localId" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="RSRV_STR1" property="rsrvStr1" jdbcType="VARCHAR" />
    <result column="RSRV_STR2" property="rsrvStr2" jdbcType="VARCHAR" />
    <result column="RSRV_STR3" property="rsrvStr3" jdbcType="VARCHAR" />
    <result column="STS" property="sts" jdbcType="CHAR" />
    <result column="STS_DATE" property="stsDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    plan_id, plan_name, plan_type, major_id, plan_hours, charge_type, charge, start_date, 
    end_date, audit_sts, audit_date, year, month, day, local_id, create_by, create_date, 
    update_by, update_date, RSRV_STR1, RSRV_STR2, RSRV_STR3, STS, STS_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_plan
    where plan_id = #{planId,jdbcType=BIGINT} order by plan_id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_plan
    where plan_id = #{planId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhongxin.cims.modules.ac.entity.Plan" >
    insert into t_plan (plan_name, plan_type,
      major_id, plan_hours, charge_type, 
      charge, start_date, end_date, 
      audit_sts, audit_date, year, 
      month, day, local_id, 
      create_by, create_date, update_by, 
      update_date, RSRV_STR1, RSRV_STR2, 
      RSRV_STR3, STS, STS_DATE
      )
    values ( #{planName,jdbcType=VARCHAR}, #{planType,jdbcType=VARCHAR},
      #{majorId,jdbcType=VARCHAR}, #{planHours,jdbcType=VARCHAR}, #{chargeType,jdbcType=VARCHAR}, 
      #{charge,jdbcType=INTEGER}, #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, 
      #{auditSts,jdbcType=CHAR}, #{auditDate,jdbcType=TIMESTAMP}, #{year,jdbcType=VARCHAR}, 
      #{month,jdbcType=VARCHAR}, #{day,jdbcType=VARCHAR}, #{localId,jdbcType=INTEGER},
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{rsrvStr1,jdbcType=VARCHAR}, #{rsrvStr2,jdbcType=VARCHAR}, 
      #{rsrvStr3,jdbcType=VARCHAR}, #{sts,jdbcType=CHAR}, #{stsDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhongxin.cims.modules.ac.entity.Plan" >
    insert into t_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planName != null" >
        plan_name,
      </if>
      <if test="planType != null" >
        plan_type,
      </if>
      <if test="majorId != null" >
        major_id,
      </if>
      <if test="planHours != null" >
        plan_hours,
      </if>
      <if test="chargeType != null" >
        charge_type,
      </if>
      <if test="charge != null" >
        charge,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="auditSts != null" >
        audit_sts,
      </if>
      <if test="auditDate != null" >
        audit_date,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="localId != null" >
        local_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="rsrvStr1 != null" >
        RSRV_STR1,
      </if>
      <if test="rsrvStr2 != null" >
        RSRV_STR2,
      </if>
      <if test="rsrvStr3 != null" >
        RSRV_STR3,
      </if>
      <if test="sts != null" >
        STS,
      </if>
      <if test="stsDate != null" >
        STS_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planName != null" >
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planType != null" >
        #{planType,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="planHours != null" >
        #{planHours,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="charge != null" >
        #{charge,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="auditSts != null" >
        #{auditSts,jdbcType=CHAR},
      </if>
      <if test="auditDate != null" >
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="localId != null" >
        #{localId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rsrvStr1 != null" >
        #{rsrvStr1,jdbcType=VARCHAR},
      </if>
      <if test="rsrvStr2 != null" >
        #{rsrvStr2,jdbcType=VARCHAR},
      </if>
      <if test="rsrvStr3 != null" >
        #{rsrvStr3,jdbcType=VARCHAR},
      </if>
      <if test="sts != null" >
        #{sts,jdbcType=CHAR},
      </if>
      <if test="stsDate != null" >
        #{stsDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongxin.cims.modules.ac.entity.Plan" >
    update t_plan
    <set >
      <if test="planName != null" >
        plan_name = #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planType != null" >
        plan_type = #{planType,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        major_id = #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="planHours != null" >
        plan_hours = #{planHours,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        charge_type = #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="charge != null" >
        charge = #{charge,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="auditSts != null" >
        audit_sts = #{auditSts,jdbcType=CHAR},
      </if>
      <if test="auditDate != null" >
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="localId != null" >
        local_id = #{localId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rsrvStr1 != null" >
        RSRV_STR1 = #{rsrvStr1,jdbcType=VARCHAR},
      </if>
      <if test="rsrvStr2 != null" >
        RSRV_STR2 = #{rsrvStr2,jdbcType=VARCHAR},
      </if>
      <if test="rsrvStr3 != null" >
        RSRV_STR3 = #{rsrvStr3,jdbcType=VARCHAR},
      </if>
      <if test="sts != null" >
        STS = #{sts,jdbcType=CHAR},
      </if>
      <if test="stsDate != null" >
        STS_DATE = #{stsDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where plan_id = #{planId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongxin.cims.modules.ac.entity.Plan" >
    update t_plan
    set plan_name = #{planName,jdbcType=VARCHAR},
      plan_type = #{planType,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=VARCHAR},
      plan_hours = #{planHours,jdbcType=VARCHAR},
      charge_type = #{chargeType,jdbcType=VARCHAR},
      charge = #{charge,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      audit_sts = #{auditSts,jdbcType=CHAR},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      year = #{year,jdbcType=VARCHAR},
      month = #{month,jdbcType=VARCHAR},
      day = #{day,jdbcType=VARCHAR},
      local_id = #{localId,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      RSRV_STR1 = #{rsrvStr1,jdbcType=VARCHAR},
      RSRV_STR2 = #{rsrvStr2,jdbcType=VARCHAR},
      RSRV_STR3 = #{rsrvStr3,jdbcType=VARCHAR},
      STS = #{sts,jdbcType=CHAR},
      STS_DATE = #{stsDate,jdbcType=TIMESTAMP}
    where plan_id = #{planId,jdbcType=BIGINT}
  </update>

    <select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_plan
        where sts = '0' order by plan_id desc
    </select>

    <select id="findPlanManager" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_plan
        where sts != '1'
    </select>

  <select id="list" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from t_plan a
    <where>
      a.sts = '0'
      <if test="planName != null and planName != ''" >
        and a.plan_name like '%${planName}%'
      </if>
      <if test="year != null and year != ''" >
        and a.year = #{year,jdbcType=VARCHAR}
      </if>
    </where>

      order by plan_id desc
  </select>
</mapper>