<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongxin.cims.modules.ac.dao.SoLessonMapper" >
  <resultMap id="BaseResultMap" type="com.zhongxin.cims.modules.ac.entity.SoLesson" >
    <result column="soid" property="soid" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="lesson_id" property="lessonId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="video_time" property="videoTime" jdbcType="INTEGER" />
    <result column="played_time" property="playedTime" jdbcType="INTEGER" />
    <result column="img_num" property="imgNum" jdbcType="INTEGER" />
    <result column="rsrv_str1" property="rsrvStr1" jdbcType="VARCHAR" />
    <result column="rsrv_str2" property="rsrvStr2" jdbcType="VARCHAR" />
    <result column="rsrv_str3" property="rsrvStr3" jdbcType="VARCHAR" />
    <result column="sts" property="sts" jdbcType="CHAR" />
    <result column="sts_date" property="stsDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    soid,user_id,lesson_id, create_date,start_time,finish_time,video_time,played_time,img_num,
    rsrv_str1, rsrv_str2, rsrv_str3, sts, sts_date
  </sql>
  <select id="selectBySoid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from so_lesson
    where soid = #{soid,jdbcType=VARCHAR}
  </select>
   <select id="selectByLessonId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from so_lesson
        where lesson_id = #{lessonId,jdbcType=BIGINT}
    </select>

  <insert id="insert" parameterType="com.zhongxin.cims.modules.ac.entity.SoLesson" >
    insert into so_lesson (soid,user_id,lesson_id, create_date,start_time,finish_time,video_time,played_time,img_num,
    rsrv_str1, rsrv_str2, rsrv_str3, sts, sts_date)
    values (#{soid,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{lessonId,jdbcType=BIGINT},#{createDate,jdbcType=TIMESTAMP},
             #{startTime,jdbcType=TIMESTAMP},#{finishTime,jdbcType=TIMESTAMP}, #{videoTime,jdbcType=INTEGER}, #{playedTime,jdbcType=INTEGER},
             #{imgNum,jdbcType=INTEGER}, #{rsrvStr1,jdbcType=VARCHAR},  #{rsrvStr2,jdbcType=VARCHAR}, #{rsrvStr3,jdbcType=VARCHAR},
             #{sts,jdbcType=CHAR},  #{stsDate,jdbcType=TIMESTAMP})
  </insert>

    <select id="selectByVideo" resultType="int" parameterType="java.lang.String" >
        select
        count(soid)
        from so_lesson
        where soid = #{soid,jdbcType=VARCHAR}    and lesson_id=#{lessonId,jdbcType=BIGINT} and sts ='1'
    </select>

    <update id="removeLesson" parameterType="com.zhongxin.cims.modules.ac.entity.SoLesson" >
       delete from so_lesson  where soid = #{soid,jdbcType=VARCHAR}  and  lesson_id=#{lessonId,jdbcType=BIGINT} and sts = '1'
    </update>

    <update id="confirmLesson" parameterType="com.zhongxin.cims.modules.ac.entity.SoLesson" >
        update so_lesson set sts =#{sts},sts_date =#{stsDate}
        where soid = #{soid,jdbcType=VARCHAR}  and  lesson_id=#{lessonId,jdbcType=BIGINT} and sts = '1'
    </update>

    <select id="selectByCheckVideo" resultType="int" parameterType="java.lang.String" >
        select
        count(soid)
        from so_lesson
        where soid = #{soid,jdbcType=VARCHAR}    and lesson_id=#{lessonId,jdbcType=BIGINT} and sts ='0'
    </select>

</mapper>